#landing-page,
#response-container,
#result-page,
#signout_button,
#add_calendar_button {
	display: none;
}

body {
	background-color: #0b7189;
	color: white;
	height: 100%;
}

.free-time {
	text-align: center;
	color: white;
}

.uk-card {
	padding: 20px;
}

/* .uk-legend {
    color: #ffffff;
} */

.uk-grid {
	font-size: 1.4em;
}

button {
	transition: 0.7s;
}

button:hover {
	border-radius: 5px;
}

.error {
	color: #DC143C;
	font-size: 12px;
	height: 20px;
}

.success {
	color: lightgreen;
}
